body {
    
}


#menu {
    height: 42px;
    width: 120px;
    overflow: hidden;
    position: fixed;
    top: 0.4em;
    left: 50%;
    transform: translateX(-50%);
}

#streamWrapper{
    margin: 0;
    padding: 0;
    height: calc(100vh);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    background-color: black;
}

#remoteCapture {
    max-width: 100vw;
    max-height: 100vh;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    object-fit: contain;
    cursor: url('img/cursor_overlay.png') 0 0, pointer;
}


#audioTips{
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 1000;
}